.maindiv {
    height:70vh;
    width:100%;
    background-image: url(maindivpicture.jpg);
    background-size:cover;
    display:flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
    padding-left:20%;
    padding-right:20%;
    text-align:center;
}
h1 {
    color:white;
}
.email {
    width:60%;
}
.firstbutton {
    width:60%;
    height:25px;
    margin-top:5%;
    background-color:#347ab6;
    border:none;
    color:white;
}
.seconddiv{
    width:100%;
    height:30vh;
    background-color: #dcdcdc;
}
.divicons {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    text-align: center;
    padding-top:3%;;
}
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    padding-left: 10%;
    padding-right: 10%;
    color:darkorchid
}
#first-container {
    width: 100%;
    display: flex;
}
h2 {
    padding-bottom: 5%;
}
.text-one {
    width: 50%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: palegreen;
    text-align: center;
    
}
.pic-one {
    width: 50%;
    height: 300px;
    background-size: initial;
    background-position: center;
    background-image: url("fox.png");
    background-repeat: no-repeat;
    background-color: #3ca270;
}
#second-container {
    display: flex;
    width: 100%;
}
.pic-two {
    width: 50%;
    height: 300px;
    background-image: url("unnamed.png");
    background-repeat: no-repeat;
    background-position: center;
    align-items:center;
    justify-content: center;
    background-color: #d4748d;
}
.text-two {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 300px;
    text-align: center;
    background-color: lightpink;
    align-items: center;
    justify-content: center;
}
#third-container {
    width: 100%;
    display: flex;
}
.text-three {
    display: flex;
    width: 50%;
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    background-color: lightseagreen;
}
.pic-three {
    width: 50%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("comet.jpg");
}
